<div class="px-8 py-8 text-sm text-gray-500">

  <div class="flex-1 text-sm text-gray-500">
    <p>
      Salut <%= current_user.first_name %>, tu a été assigné une astreinte
    </p>
  </div>
    
</div>