<div class="sticky top-11">
  <a 
    href="/notifications" 
    class="relative flex items-center justify-center w-8 h-8 rounded-xl bg-green-50 text-green-600 hover:bg-green-100 transition-all duration-200 shadow-sm"
  >
    <svg xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.7"
        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
      />
    </svg>

    <span
      class="<%= @unread_count == 0 ? 'hidden' : '' %>
      absolute -top-1 -right-1
      min-w-[20px] h-[20px]
      px-1.5
      bg-red-500
      text-white
      text-[11px]
      font-bold
      rounded-full
      flex items-center justify-center
      border-2 border-white
      shadow-md"
      data-notification-target="badge"
    >
      <%= @unread_count %>
    </span>
  </a>

  <div
    data-notification-target="list"
    class="hidden absolute left-14 top-0 w-80 bg-white border border-gray-100 shadow-2xl rounded-3xl p-4 z-50"
  >
    <div class="flex items-center justify-between mb-4">
      <h3 class="font-semibold text-gray-800">
        Notifications
      </h3>

      <span class="text-xs text-gray-400">
        <%= @unread_count %> nouvelles
      </span>
    </div>

    <!-- notifications -->
  </div>
</div>