<div class="flex justify-between mb-10 border-y border-gray-200 py-5 cursor-pointer hover:bg-gray-100 transition-colors rounded" 
  data-user-target="chevron"
  data-action="click->user#menudisplay"
  data-chevron="password">
  <div>
    <h2 class="text-lg font-medium text-gray-900">Nouveau mot de passe</h2>
    <p class="text-sm text-gray-500 mt-0.5">Choisissez un mot de passe sécurisé.</p>
  </div>

  <div class="flex items-center cursor-pointer"
    data-user-target="chevron"
    data-action="click->user#menudisplay"
    data-chevron="password"
    >
      <span 
        data-user-target="chevronDown"
        data-chevron-id="password"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
      </span>

      <span class="hidden"
        data-user-target="chevronUp"
        data-chevron-id="password"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
          </svg>
      </span>

    </div>
        
</div>


